html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

:root {
  --blue: #3f2aff;
  --white: #fff;
  --black-velvet: #212133;
  --ebony-clay: #2e2b44;
  --granite-grey: #666;
  --light-grey: #c7c7c7;
  --light-blue: #7566ff;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto-Regular'), url('../fonts/RobotoRegular.woff2') format('woff2'),
    url('../fonts/RobotoRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto-Bold'), url('../fonts/RobotoBold.woff2') format('woff2'),
    url('../fonts/RobotoBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  min-width: 320px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

/* global */
.flex {
  display: flex;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  /* padding: 0 30px; */
}

.section {
  padding: 80px 0;
}

/* .header,
.main,
.footer {
  padding: 0 30px;
} */

.list-reset {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

.btn-link-reset {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn-link {
  padding: 24px 75.5px;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  color: var(--white);
  background-color: var(--blue);
  border-radius: 20px;
  transition: background-color 0.2s linear;
}

.btn-link:focus {
  background-color: var(--light-blue);
}

.btn-link:hover {
  background-color: var(--light-blue);
}

.btn-link:active {
  background-color: #212164;
}

.btn-reset {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 0;
}

/* .btn {
  position: relative;
  outline: none;
  transition: background-color 0.2s linear;
}

.btn::after {
  position: absolute;
  content: "";
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  border: 2px solid transparent;
  transition: border-color 0.2s linear;
}

.btn::after:focus {
  background-color: var(--light-blue);
} */

/* .test {
  height: 100px;
  background-color: red;
} */

/* header */
.header {
  background-color: var(--blue);
}

.header__container {
  justify-content: space-between;
  /* padding: 28px 0 27px 0; */
  padding-top: 28px;
  padding-bottom: 27px;
}

.header__logo {
  position: relative;
  outline: none;
}

.header__logo::after {
  position: absolute;
  content: "";
  top: -5px;
  right: -10px;
  bottom: -5px;
  left: -10px;
  border: 1px solid transparent;
  transition: border-color 0.2s linear;
}

.header__logo:focus::after {
  border-color: var(--white);
}

.header__burger {
  position: relative;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 21px;
  height: 17px;
}

.header__burger::after {
  position: absolute;
  content: "";
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  border: 2px solid transparent;
  transition: border-color 0.2s linear;
}

.header__burger:focus::after {
  border-color: var(--white);
}

.burger__line {
  height: 2px;
  width: 100%;
  background-color: var(--white);
}

.nav__list {
  gap: 57px;
  align-self: center;
}

.nav__link {
  position: relative;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: var(--white);
  outline: none;
  transition: color 0.2s linear;
}

.nav__link::after {
  position: absolute;
  content: "";
  top: -5px;
  right: -10px;
  bottom: -5px;
  left: -10px;
  border: 1px solid transparent;
  transition: border-color 0.2s linear;
}

.nav__link::before {
  position: absolute;
  content: "";
  bottom: -5px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: transparent;
  transition: background-color 0.2s linear;
}

.nav__link:focus::after {
  border-color: var(--white);
}

.nav__link:hover::before {
  background-color: var(--white);
}

.nav__link:active {
  color: var(--light-grey);
}

.nav__link:active::after {
  border-color: transparent;
}

.nav__link:active::before {
  background-color: var(--light-grey);
}

.nav__close {
  display: none;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}

.nav__close::after {
  position: absolute;
  content: "";
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  border: 2px solid transparent;
  transition: border-color 0.2s linear;
}

.nav__close:focus::after {
  border-color: var(--white);
}

.close__line {
  position: absolute;
  width: 24px;
  height: 2px;
  top: 50%;
  background-color: var(--white);
}

.close__line_1 {
  transform: rotate(45deg);
}

.close__line_2 {
  transform: rotate(-45deg);
}

/* hero */
.hero {
  padding: 0;
  background: radial-gradient(44.07% 44.07% at 67.78% 55.93%, #555681 0%, #212133 100%);
}

.hero__container {
  /* padding: 130px 0; */
  padding-top: 130px;
  padding-bottom: 130px;
  background-image: url("../img/hero.png");
  background-repeat: no-repeat;
  background-position: 97% center;
}

.hero__title {
  margin: 0;
  margin-bottom: 28px;
  font-size: 60px;
  font-weight: 700;
  line-height: 100%;
  color: var(--white);
}

.hero__descr {
  margin: 0;
  margin-bottom: 62px;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  color: var(--white);
}

/* advantages */
.adv__top {
  height: 100%;
  margin-bottom: 23px;
}

.adv__wrapp {
  padding-left: 190px;
  background-image: url("../img/advantages.jpg");
  background-repeat: no-repeat;
  background-position: 0 center;
}

.top__title {
  margin: 0;
  margin-bottom: 17px;
  padding-right: 160px;
  font-size: 40px;
  font-weight: 700;
  line-height: 100%;
  color: var(--ebony-clay);
}

.top__descr {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: var(--granite-grey);
}

.adv__item {
  align-items: center;
  height: 100%;
  min-height: 80px;
  padding-left: 110px;
  background-repeat: no-repeat;
  background-position: left center;
}

.adv__item_1 {
  background-image: url("../img/adv-1.svg");
}

.adv__item_2 {
  background-image: url("../img/adv-2.svg");
}

.adv__item_3 {
  background-image: url("../img/adv-3.svg");
}

.bottom__descr {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
  color: var(--granite-grey);
}

/* teachers */
.teachers {
  padding-top: 74px;
  padding-bottom: 72px;
  background-color: var(--black-velvet);
}

.teachers__title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 40px;
  font-weight: 700;
  line-height: 100%;
  color: var(--white);
}

.teachers__photo img {
  width: 100%;
  margin-bottom: 26px;
  border-radius: 22px 22px 0 0;
}

.teachers__name {
  display: inline-block;
  margin: 0;
  margin-bottom: 7px;
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
  color: var(--white);
}

.teachers__descr {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #85859b;
}

/* courses */
.courses {
  padding-top: 75px;
}

.courses__title {
  margin: 0;
  margin-bottom: 23px;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  color: var(--black-velvet);
}

.courses__list {
  row-gap: 30px;
}

.courses__item {
  position: relative;
  height: 100%;
  min-height: 480px;
  /* margin-bottom: 30px; */
  padding-top: 180px;
  /* padding: 173px 30px 30px 30px; */
  background-repeat: no-repeat;
  background-position: center top;
  border-radius: 20px;
}

.item__wrapper {
  flex-direction: column;
  height: 100%;
  min-height: 300px;
  padding: 30px;
  background-color: #edf0f9;
  border-radius: 0 0 20px 20px;
}

.courses__item_1 {
  background-image: url("../img/courses-1.jpg");
}

.courses__item_2 {
  background-image: url("../img/courses-2.jpg");
}

.courses__item_3 {
  background-image: url("../img/courses-3.jpg");
}

.courses__item_4 {
  background-image: url("../img/courses-4.jpg");
}

.item__time {
  position: absolute;
  align-items: center;
  top: 11px;
  right: 4px;
  font-size: 0;
}

.item__time svg {
  margin-right: 6px;
}

.item__hours {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--white);
}

.item__title {
  margin: 0;
  margin-bottom: 7px;
  /* padding-top: 38px; */
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: var(--black-velvet);
}

.item__descr {
  margin: 0;
  margin-bottom: 49px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--granite-grey);
}

.item__link {
  align-self: flex-start;
  margin-top: auto;
  padding: 20.5px 59px;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
}

/* footer */
.footer__top {
  background-color: var(--ebony-clay);
  padding: 30px 0;
}

.footer__bottom {
  padding-top: 3px;
}

.footer__container {
  justify-content: center;
}

.footer__list {
  gap: 34px;
  align-items: center;
}

.footer__item {
  font-size: 0;
}

.footer__link {
  position: relative;
  outline: none;
}

.footer__link svg {
  fill: var(--white);
  transition: fill 0.2s linear;
}

.footer__link:focus svg {
  fill: var(--light-blue);
}

.footer__link:hover svg {
  fill: var(--light-blue);
}

.footer__link:active svg {
  fill: var(--blue);
}

.footer__content {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  color: var(--ebony-clay);
}
